extends ../../../views/layout
block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Level name:
        div.col-md-1
          = level.name
      div.row
        label.col-md-1 Security level:
        div.col-md-1
          = level.level
      div.row
        label.col-md-1 Description:
        div.col-md-1
          = level.description
      div.row
        div.col-sm-offset-2.col-sm-1
          a.btn.btn-primary(href="/security_levels/edit/" + level.id,
            level="button")
            | Edit
        div.col-sm-1
          a.btn.btn-danger(href="/security_levels/delete/" + level.id,
            role="button")
            | Delete
  div.panel.panel-default
    div.panel-heading
      h3.panel-title
        =level.name + " accounts"
    div.panel-body
      include ./_members_list.jade
