if members
  each member, index in members
    div.row
      div.col-md-1
        =index +  1
      div.col-md-1
        a(href='/projects/' + project.id + '/member/' + member.id)=member.name
      div.col-md-1
        a.btn.btn-default(href="/projects/"+project.id+"/removeAccount/"+member.id, role="button")
          |Delete
