if members
  div.table-responsive
    table.table.table-hover
      thead
        tr
          th Index
          th Member Name
          th Security Level
          th Roles
          th 
      tbody
        each member, index in members
          - var account = member.account;
          - var security_level = member.security_level;
          tr
            td=index + 1
            td: a(href=project.id + '/member/' + account.id)=account.name
            if security_level
              td: a(href='/security_levels/' + security_level.id)=security_level.name
            else
              td
            td
              // roles should use lazy loading to load later
              - var roles = member.roles
              each role, i in roles
                div: a(href='/roles/' + role.id)=role.name
            td: a.btn.btn-default(href="/projects/"
              +project.id+"/remove_account/"+account.id,
              role="button") Delete
