if members
  div.table-responsive
    table.table.table-hover
      thead
        tr
          th Index
          th Project
          th Member Name
          th 
      tbody
        each member, index in members
          - var account = member.account;
          - var project = member.project;
          tr
            td=index + 1
            td: a(href='/projects/' + project.id)=project.name
            td: a(href='/accounts/' + account.id)=account.name
            td: a.btn.btn-default(href="/roles/"
              +role.id+"/removeAccount/"+member.id,
              role="button") Delete
