extends ../../../views/layout

block content
  div.row
    div.page-header
      h1 Create role
    // error output
    include ../../../views/_error_list.jade
    // creation form
    div.col-md-9
      include ./_form.jade
