extends ../../../views/layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Role Info
    div.panel-body
      div.row
        label.col-md-2 Role name:
        div.col-md-4
          = role.name
      div.row
        label.col-md-2 Description:
        div.col-md-4
          = role.description
      div.row
        div.col-sm-offset-2.col-sm-1
          a.btn.btn-primary(href="/roles/edit/" + role.id,
            role="button")
            | Edit
        div.col-sm-1
          a.btn.btn-danger(href="/roles/delete/" + role.id,
            role="button")
            | Delete
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Role's Members
    div.panel-body
      include ./_members_list.jade
