extends ../../../views/layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Role Info
    div.panel-body
      div.row
        label.col-md-2 Role name:
        div.col-md-4
          = role.name
      div.row
        label.col-md-2 Description:
        div.col-md-4
          = role.description
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Role's Members
    div.panel-body
      // error output
      if error
        div.row
          div.alert.alert-danger(role="alert")
            ul
              - errors = error.errors;
              each val, index in errors
                li= val.message
      // creation form
      div.row
        div.col-md-6
          include ./_add_account.jade
      include ./_members_list.jade
