extends ../../../views/layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Username:
        div.col-md-1
          = account.name
      div.row
        label.col-md-1 Password:
        div.col-md-1
          = account.password
      hr
      // error output
      if error
        div.row
          div.alert.alert-danger(role="alert")
            ul
              - errors = error.errors;
              each val, index in errors
                li= val.message
      // creation form
      div.row
        div.col-md-6
          include ./_details_form.jade
