if articles
  div.table-responsive
    table.table.table-hover
      thead
        tr
          th Index
          th Article Name
          th Security Level
          th Roles
          th Creator
          th 
      tbody
        each child_article, index in articles
          - var security_level = child_article.security_level;
          tr
            td=index + 1
            td: a(href='/articles/' + child_article.id)=child_article.name
            if security_level
              td=security_level.name
            else
              td
            td
              // roles should use lazy loading to load later
              - var roles = child_article.roles
              each role, i in roles
                div=role.name
            td: a(href='/accounts/' + child_article.account.id)=child_article.account.name
            td: a.btn.btn-default(href="/articles/delete/"
              + child_article.id,
              role="button") Delete
