if articles
  div.table-responsive
    table.table.table-hover
      thead
        tr
          th Index
          th Article Name
          th Security Level
          th Roles
          th 
      tbody
        each article, index in articles
          - var security_level = article.security_level;
          tr
            td=index + 1
            td: a(href='/articles/' + article.id)=article.name
            if security_level
              td=security_level.name
            else
              td
            td
              // roles should use lazy loading to load later
              - var roles = article.roles
              each role, i in roles
                div=role.name
            td: a.btn.btn-default(href="/articles/delete/"
              + article.id,
              role="button") Delete
