extends ../../../views/layout

block content
  // error output
  if error
    div.row
      div.alert.alert-danger(role="alert")
        ul
          - errors = error.errors;
          each val, index in errors
            li= val.message
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      - var project = member.project;
      - var account = member.account;
      if account
        div.row
          label.col-md-2 Username:
          div.col-md-10
            = account.name
      - var security_level = member.security_level
      if security_level
        div.row
          label.col-md-2 Security Level:
          div.col-md-10
            = security_level.name
      div.row
        div.col-sm-offset-2.col-md-4
          include ./_member_view_security_select.jade
      if roles
        div.row
          label.col-md-2 Roles:
          div.col-md-10
            each role, index in roles
              include ./_member_view_role_list.jade

      div.row
        div.col-sm-offset-2.col-md-4
          include ./_member_view_role_select.jade
